.footer {
  width: 750px;
  margin: 70px auto auto auto;
  height: 210px; }
  .footer h3 {
    font-size: 15px;
    font-weight: bold; }
  .footer p {
    font-size: 14px; }
  .footer .contacto {
    width: 205px;
    float: left; }
  .footer .suscribete {
    width: 350px;
    float: right;
    margin-right: 120px; }

.medio_plomo {
  height: 308px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fafafa;
  color: #333333; }
  .medio_plomo h3 {
    width: 376px !important;
    margin: 77px auto auto auto !important; }
  .medio_plomo .visible-xs .parrafo_inicial {
    margin-top: 25px;
    width: 450px; }
  .medio_plomo .hidden-xs .parrafo_inicial {
    margin-top: 25px;
    width: 750px; }
  .medio_plomo .parrafo_final {
    margin: 15px auto auto auto;
    font-size: 15px;
    width: 232px; }
  .medio_plomo .medio_plomo_boton {
    margin: 15px auto auto auto;
    width: 120px; }
    .medio_plomo .medio_plomo_boton button {
      height: 50px;
      width: 120px; }

.medio {
  padding-top: 51px;
  margin-top: 77px;
  font-family: Helvetica, sans-serif;
  color: #333333; }
  .medio .visible-xs h3 {
    width: 524px;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    text-align: center; }
  .medio .visible-xs p {
    width: 505px;
    margin: 26px auto auto auto;
    font-size: 12px;
    text-align: center; }
  .medio h3 {
    width: 685px;
    margin: auto;
    font-size: 19.4px;
    font-weight: bold; }
  .medio p {
    width: 685px;
    margin: 26px auto auto auto;
    font-size: 12px;
    text-align: center; }
  .medio img {
    margin: 35px auto auto auto;
    height: auto;
    width: 345px;
    display: block; }

.caja_eslogan {
  z-index: 0;
  padding-top: 65px; }
  .caja_eslogan .normal_h3 h3 {
    margin: auto;
    color: white;
    text-align: center;
    width: 704px;
    font-size: 38px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 7px; }
  .caja_eslogan .medio_h3 h3 {
    margin: auto;
    color: white;
    text-align: center;
    width: 704px;
    font-size: 38px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 7px; }
  .caja_eslogan .pequeno_h3 h3 {
    margin: 85px auto auto auto;
    color: white;
    text-align: center;
    width: 548px;
    font-size: 32px;
    font-family: Helvetica, sans-serif;
    letter-spacing: 7px; }

.caja_eslogan_botones {
  margin: auto;
  width: 272px;
  padding-top: 43px; }
  .caja_eslogan_botones .btn-success {
    margin-left: 11px;
    width: 103px;
    height: 47px; }
  .caja_eslogan_botones .btn-primary {
    width: 154px;
    height: 47px; }

.texto_resena_header {
  text-align: center;
  color: white;
  font-family: Helvetica, sans-serif; }
  .texto_resena_header .visible-xs {
    width: 480px;
    margin: 15px auto auto auto; }
  .texto_resena_header .hidden-xs {
    width: 655px;
    margin: 15px auto auto auto; }

.padding_fuera {
  padding-left: 0px !important;
  overflow: hidden;
  padding-right: 0px !important; }

.menu_visible_md {
  padding-top: 30px;
  display: flow-root; }

.header_contenedor_menu {
  z-index: 1; }
  .header_contenedor_menu a {
    color: #677575;
    font-family: Helvetica, sans-serif; }

.navegador_pequeno {
  background-color: #181818e6;
  border-color: #333;
  z-index: 1;
  position: absolute;
  width: 87%; }
  .navegador_pequeno .navbar-brand {
    padding-top: 10px; }

.slider_contenedor_header {
  position: absolute;
  z-index: 0; }

.slider_contenedor {
  position: relative;
  margin: 0 auto;
  top: 0px;
  left: 0px;
  width: 1300px;
  overflow: hidden;
  visibility: hidden;
  height: 510px !important; }

.slider_cargador {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7); }

.slider_cargador_img {
  margin-top: -19px;
  position: relative;
  top: 50%;
  width: 38px;
  height: 38px; }

.slider_img_contenedor {
  cursor: default;
  position: relative;
  top: 0px;
  left: 0px;
  width: 1300px;
  height: 500px;
  overflow: hidden; }

/*# sourceMappingURL=output.css.map */
